*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-word-wrap: break-word;
    -moz-word-wrap: break-word;
    -ms-word-wrap: break-word;
    -o-word-wrap: break-word;
    word-wrap: break-word;
  }
  
h1,h2,h3{
    font-family: 'Arial';
}

.btn{
    border: 1px solid #19acd4;
    background-color: #ffffff;
    padding: 2px 8px;
    color: #19acd4;
    transition: all 0.3s;
    border-radius: 5px;
}
.btn:hover{
    background-color: #19acd4;
    color:#ffffff;  
}

form{
    word-wrap: break-word;
}

.container-form {
    max-width: 300px;
    margin: 100px auto;
    padding: 25px;
    word-wrap: break-word;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.container-form h2{
    text-align: center;
}

.container-form input {
    height: 25px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cccccc;  
    padding: 5px 10px;  
    
}